body{

    font-family: 'Noto Sans TC',sans-serif;
    line-height: 1.5;
  
}

.sec-font{
    font-family: 'Azeret Mono', sans-serif;
}

.title-logo{
    font-family: 'Azeret Mono',sans-serif;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;

    
}

a{
    display: block;
}

.w-80{
    width: 80%;
}

.w-100{
    width: 100%;
}

.teacher{
    border-radius: 50%;
    height: 100px;
    width: 100px;
   
    
}

.btn-linear{
    background:linear-gradient(#09ACF5,#62DB54);
    color:#fff
  }



.squareRounded {
    display: none;
    width: 32px;
    height: 32px;
    &-topLeft {
      border-top: 2px solid #62DB54;
      border-left: 2px solid #62DB54;
      border-top-left-radius: 10px;
    }
    &-topRight {
      border-top: 2px solid #62DB54;
      border-right: 2px solid #62DB54;
      border-top-right-radius: 10px;
    }
    &-bottomLeft {
      border-bottom: 2px solid #62DB54;
      border-left: 2px solid #62DB54;
      border-bottom-left-radius: 10px;
    }
    &-bottomRight {
      border-bottom: 2px solid #62DB54;
      border-right: 2px solid #62DB54;
      border-bottom-right-radius: 10px;
    }
  }

  .card:hover {
    .squareRounded {
      display: block;
    }
  }