.background-image{
  height: 680px;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/bg_home.jpg?raw=true");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner {
  padding: 47px 80px;
  border: 1px solid #fff;
}

.square {
  width: 10px;
  height: 10px;
  background-color: #fff;
}

.text{
  font-size: 48px;
  

  &-linear{
    background:linear-gradient(#09ACF5,#62DB54);
    background-clip:text;
    -webkit-background-clip: text;
    color:transparent;
  }
}

.card-hover{
  &:hover{
    border:1px solid $primary;
 
  }
}


.index-icon{
  font-size: 40px;
}

.overflow{
  overflow-x: auto;
}



.pseudo-line::after{
  content: '';
  position: absolute;
  bottom:-20px;
  width: 50px;
  height: 3px;
  left: 0px;
  background-color: #62DB54;
}


.feature-line::after{
  content: '';
  position: absolute;
  bottom:-20px;
  width: 50px;
  height: 3px;
  left: 0px;
  background-color: $white;

 
}




.number-position{
  position: absolute;
  top:-35px;
  
}

.recommend-course:hover{
  border: #62DB54 2px solid;
}

.coding{
  &:hover{
    border: 1px solid #62DB54;
    background-color: $dark2;
  }
}


.feature01{

  height: 615px;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/info01.jpg?raw=true");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 50%;

  &:hover{
    opacity: 100%;

    .feature-icon{
      color: #62DB54 !important;
    }

    .feature-line::after{
      content: '';
      position: absolute;
      bottom:-20px;
      width: 50px;
      height: 3px;
      left: 0px;
      background-color: #62DB54;
  
    }
  }

}

.feature02{

  height: 615px;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/info02.jpg?raw=true");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 50%;

  &:hover{
    opacity: 100%;

    .feature-icon{
      color: #62DB54 !important;
     
    }

    .feature-line::after{
      content: '';
      position: absolute;
      bottom:-20px;
      width: 50px;
      height: 3px;
      left: 0px;
      background-color: #62DB54;
  
    }
  }

}

.feature03{

  height: 615px;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/info03.jpg?raw=true");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 50%;

  &:hover{
    opacity: 100%;

    .feature-icon{
      color: #62DB54 !important;
    }

    .feature-line::after{
      content: '';
      position: absolute;
      bottom:-20px;
      width: 50px;
      height: 3px;
      left: 0px;
      background-color: #62DB54;
  
    }
  }

}

.feature04{

  height: 615px;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/info04.jpg?raw=true");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 50%;

  &:hover{
    opacity: 100%;

    .feature-icon{
      color: #62DB54 !important;
    }

    .feature-line::after{
      content: '';
      position: absolute;
      bottom:-20px;
      width: 50px;
      height: 3px;
      left: 0px;
      background-color: #62DB54;
  
    }
  }
}



.squareRounded {
  display: none;
  width: 32px;
  height: 32px;
  &-topLeft {
    border-top: 2px solid #62DB54;
    border-left: 2px solid #62DB54;
    border-top-left-radius: 10px;
  }
  &-topRight {
    border-top: 2px solid #62DB54;
    border-right: 2px solid #62DB54;
    border-top-right-radius: 10px;
  }
  &-bottomLeft {
    border-bottom: 2px solid #62DB54;
    border-left: 2px solid #62DB54;
    border-bottom-left-radius: 10px;
  }
  &-bottomRight {
    border-bottom: 2px solid #62DB54;
    border-right: 2px solid #62DB54;
    border-bottom-right-radius: 10px;
  }
}
.card:hover {
  .squareRounded {
    display: block;
  }
}


.bg-share{
  height: 733px;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/bg_share.jpg?raw=true");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.green-underline::after{
  content:"";
  position: absolute;
  width:50px;
  height: 10px;
  border-bottom:3px solid $primary;
  bottom:-16px;
  left: 48%; 
}

.img-share::after{
  content:"";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index:1;
  left: -15px;
  bottom:-15px;
  border:1px solid $white;
  border-radius: 24px;

}

.share-small{
  left: -45px;
  top:280px;
}

.share-student{
  position:absolute;
  left:65%;
  top: -25%;
}

.menu{
  font-size: 80px;
}