
.navbar{
   position: relative;
}
.navbar::before{
   content:"";
   position: absolute;
   background-color: $primary;
   width: 50%;
   left: 0;
   height: 2px;
   top:65.9px;

}

.navbar::after{
   content:"";
   position: absolute;
   background-color: $secondary;
   width: 50%;
   right: 0;
   height: 2px;
   top:65.9px;

}





.linear{
    background:linear-gradient(#09ACF5,#62DB54);
    color:#fff;
    width: 100%;
  }


 .login-icon{
     max-width: 20px;
    height: auto;
 } 

 .other-login .line{

    width: 33%;
    border-top: 1px solid #ccc ;
    vertical-align:20%;

 }